---
layout: twitter
permalink: /posters
title: Posters
---
<p>We expect a poster program of over 80 posters chosen from about 200 submissions.</p>

{% assign sessions = site.data.posters | group_by: "session" %} {% for session in sessions %}
<div id="session-{{ session.name }}" class="row">
  <div class="col-sm-12 col-md-12">
    <h3 style="color: #d67a92">Session #{{ session.name }}</h3>
  </div>
  {% assign posters = session.items | sort: "Title" %} {% for poster in posters %}
  <div class="col-sm-12 col-md-12" style="margin-bottom: 3em">
    <h4>{{ poster.Title }}</h4>
    <div>
      <span style="font-style: italic">Authors: </span>
      <strong>{{ poster.Authors }} </strong>
    </div>
    <div>
      <span style="font-style: italic">Institution: </span>
      {{ poster.Institution }}
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
