---
layout: page
permalink: /talks
title: Invited Talks
---

{% assign timetable = site.data.timetable %}
{% for t in timetable %} {% if t.speaker != "" and t.isKeynote == false %}

<div class="row" style="border-radius: 15px; border-style: solid; border-color: #c0c0c0; border-width: 2px; margin-bottom: 2em; padding: 1em; background-color: #fafafa;">
  
  <div class="col-sm-3 col-md-3 text-center" style="margin-bottom: 3em; text-align: center;">
    <img src="images/speakers/{{ t.img }}" alt="Image of {{ t.speaker }}" class="img-responsive img-circle center-block" style="border-style: solid; border-width: 2px; border-color: #c0c0c0;">
    <h4><b>{{ t.speaker }}</b></h4>
    <p><b><a href="{{ t.web }}">Website</a></b></p>
    <p><b><a href="{{ t.web }}">Bio</a></b></p>
  </div>
  
  <div class="col-sm-9 col-md-9" style="margin-bottom: 3em;">
    <h3>{{ t.description }}</h3>
    <p>{{ t.abstract }}</p>
  </div>

</div>

  <!--
  <div class="col-sm-12 col-md-12" style="margin-bottom: 3em">
    <h4>{{ t.description }}</h4>
    <div>
      <span style="font-style: italic">Speaker: </span>
      <strong>{{ t.speaker }} ({{ t.affiliation }})</strong>
    </div>
    <div>
      <span style="font-style: italic">Abstract: </span>
      {{ t.abstract }}
    </div>
  </div>
  -->
  {% endif %} {% endfor %}

