---
layout: twitter
permalink: /speakers
title: Speakers
---

<p>Below is our current list of confirmed speakers for this year's GCASR:</p>

{% assign timetable = site.data.timetable %}
<ul>
{% for t in timetable %} {% if t.speaker != "" %}
  {% assign speakerSurname = t.speaker | split: " " | last | downcase %}
  {% assign tURL = "{{ site.baseurl }}/speakers/{{ speakerSurname }}" %}
  <li>
    <b>
      <a href="{{ site.baseurl }}/speakers/{{ speakerSurname }}">
        {{ t.speaker }}
      </a>
    </b> 
    ({{ t.affiliation }})
  </li>
{% endif %} {% endfor %}
</ul>
