---
layout: calls
permalink: /timetable
title: Timetable
---

<style>
  .header th {
    padding: 0.5em 1em;
  }
  .td-reset {
    background-color: transparent !important;
    border-left: none !important;
    border-radius: 0 !important;
    font-weight: normal !important;
  }
</style>

{% assign keynote = 0 %}

<table>
  <colgroup>
    <col width="25%" />
    <col width="40%" />
    <col width="15%" />
    <col width="30%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>Time</th>
      <th>Description</th>
      <th>Speaker</th>
      <th>Affiliation</th>
    </tr>
  </thead>
  {% assign timetable = site.data.timetable %}
  <tbody>
    {% for t in timetable %}
    {% assign speakerSurname = t.speaker | split: " " | last | downcase %}
    
    <tr>
      {% if t.speaker != "" %}
        <td>
          {{ t.time }}
        </td>
        <td>
          {% if t.isKeynote %}
            <b>Keynote:</b> 
          {% endif %}
          <a href="{{ site.baseurl }}/speakers/{{ speakerSurname }}">{{ t.description }}</a>
        </td>
        <td>
          {{ t.speaker }}
        </td>
        <td>
          {{ t.affiliation }}
        </td>
      {% else %}
        <td>{{ t.time }}</td>
        <td colspan="3">{{ t.description }}</td>
      {% endif %}
    </tr>

    {% endfor %}
  </tbody>
</table>
