<header class=navbar-affixed-top data-spy=affix data-offset-top=62>
    <div class="navbar navbar-default yamm" role=navigation id=navbar>
        <div class=container>
            <div class=navbar-header>
                <a class="navbar-brand home" href="{{ site.baseurl }}/" />
                {% if site.data.main.logo %}
                <img src="{{ site.baseurl }}/images/{{ site.data.main.logo }}" alt="{{ site.edition }} {{ site.title }}">
                {% else %}
                <span style="font-size: 1.1em">{{ site.short-title }}</span><br />
                <span style="font-variant: small-caps; font-size: 0.9em; color: #ccc">{{ site.data.main.edition }} {{ site.title | replace: "The ", "" }}</span>
                {% endif %}
                <span class=sr-only>Universal - go to homepage</span>
                </a>
                <div class=navbar-buttons>
                    <button type=button class="navbar-toggle btn-template-main" data-toggle=collapse
                        data-target=#navigation>
                        <span class=sr-only>Toggle Navigation</span>
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </div>
            <div class="navbar-collapse collapse" id=navigation>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown use-yamm yamm-fw">
                        <a href=# class=dropdown-toggle data-toggle=dropdown role=button aria-haspopup=true
                            aria-expanded=false>Calls <span class=caret></span></a>
                        <ul class=dropdown-menu>
                            <li>
                                <div class=yamm-content>
                                    <ul>
                                        <!-- <li><a href="{{ site.baseurl }}/important-dates">Important Dates</a></li> -->
                                        {% if site.data.main.contents.calls.papers %}
                                        <li><a href="{{ site.baseurl }}/call-for-papers">Call for Papers</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.calls.workshops %}
                                        <li><a href="{{ site.baseurl }}/call-for-workshops">Call for Workshops</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.calls.tutorials %}
                                        <li><a href="{{ site.baseurl }}/call-for-tutorials">Call for Tutorials</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.calls.posters %}
                                        <li><a href="{{ site.baseurl }}/call-for-posters">Call for Posters</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.calls.speakers %}
                                        <li><a href="{{ site.baseurl }}/call-for-speakers">Call for Speakers</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.calls.reproducibility_hackathon %}
                                        <li><a href="{{ site.baseurl }}/reproducibility-hackathon">Reproducibility Hackathon</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown use-yamm yamm-fw">
                        <a href=# class=dropdown-toggle data-toggle=dropdown role=button aria-haspopup=true
                            aria-expanded=false>Program <span class=caret></span></a>
                        <ul class=dropdown-menu>
                            <li>
                                <div class=yamm-content>
                                    <ul>
                                        {% if site.data.main.contents.program.timetable %}
                                        <li><a href="{{ site.baseurl }}/timetable">Timetable</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.program.keynotes %}
                                        <li><a href="{{ site.baseurl }}/keynotes">Keynotes</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.program.workshops %}
                                        <li><a href="{{ site.baseurl }}/workshops">Workshops</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.program.talks %}
                                        <li><a href="{{ site.baseurl }}/talks">Talks</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.program.tutorials %}
                                        <li><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.program.panel %}
                                        <li><a href="{{ site.baseurl }}/panel">Panel</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.program.posters %}
                                        <li><a href="{{ site.baseurl }}/posters">Posters</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown use-yamm yamm-fw">
                        <a href=# class=dropdown-toggle data-toggle=dropdown role=button aria-haspopup=true
                            aria-expanded=false>Meeting Information <span class=caret></span></a>
                        <ul class=dropdown-menu>
                            <li>
                                <div class=yamm-content>
                                    <ul>
                                        {% if site.data.main.contents.meeting.registration %}
                                        <li><a href="{{ site.baseurl }}/registration">Registration</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.meeting.venue %}
                                        <li><a href="{{ site.baseurl }}/venue">Venue</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.meeting.virtual %}
                                        <li><a href="{{ site.baseurl }}/virtual">Virtual Conference</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.meeting.quickstart %}
                                        <li><a href="{{ site.baseurl }}/quickstart">Quickstart</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.meeting.code_of_conduct %}
                                        <li><a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.meeting.diversity %}
                                        <li><a href="{{ site.baseurl }}/diversity-statement">Diversity Statement</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.meeting.sponsorship %}
                                        <li><a href="{{ site.baseurl }}/sponsorship">Sponsorship</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown use-yamm yamm-fw">
                        <a href=# class=dropdown-toggle data-toggle=dropdown role=button aria-haspopup=true
                            aria-expanded=false>Committees <span class=caret></span></a>
                        <ul class=dropdown-menu>
                            <li>
                                <div class=yamm-content>
                                    <ul>
                                        {% if site.data.main.contents.committees.organizers %}
                                        <li><a href="{{ site.baseurl }}/organizers">Organizers</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.committees.program %}
                                        <li><a href="{{ site.baseurl }}/pc">Program Committee</a></li>
                                        {% endif %}
                                        {% if site.data.main.contents.committees.steering %}
                                        <li><a href="/about/#steering-committee">Steering Committee</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown use-yamm yamm-fw">
                        <a href=# class=dropdown-toggle data-toggle=dropdown role=button aria-haspopup=true
                            aria-expanded=false>Archive <span class=caret></span></a>
                        <ul class=dropdown-menu>
                            <li>
                                <div class=yamm-content>
                                    <ul>
                                        <li><a href="/2025">GCASR 2025</a></li>
                                        <li><a href="/2024">GCASR 2024</a></li>
                                        <li><a href="/2023">GCASR 2023</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org">GCASR 2020</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2019">GCASR 2019</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2018">GCASR 2018</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2017">GCASR 2017</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2016">GCASR 2016</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2015">GCASR 2015</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2014">GCASR 2014</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2013">GCASR 2013</a></li>
                                        <li><a href="https://web.archive.org/web/20211023214033/http://www.gcasr.org/2012">GCASR 2012</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a href="/about" class=dropdown-toggle target="_blank">About</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</header>
